
html {
    /* for sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    /* bg image for all pages */
    background-image: url(../images/sun-bg.png);
    /* For sticky footer */
    margin-bottom: 80px;

}




/* Changing primary color scheme to teal */

h1.text-primary {
    color: #4aaaa5!important;
}

.bg-primary {
    background-color: #4aaaa5!important;
}

a.text-primary {
    color: #4aaaa5!important;
    text-decoration: none;
} 

a.text-primary:visited {
    color: #4aaaa5!important;
    text-decoration: none;
} 

a.text-primary:hover {
    color: white!important;
    background-color: #4aaaa5;
  }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 40px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: white;
    margin-bottom: 0px;
    margin-top: 90px;

}






@media screen and (max-width: 768px) {


    .container {
        width: 100%!important;
    }

    #main-body {
        border: none!important;
    }
    
    

    #about-img {
        width: 100%;
        border-right: 1px solid white;

               
        
    }

    #nav-wrap {
        width: 100%!important;
    }
    #nav-brand {
        width: 100%!important;
    }
}