body {
    background-image: url(../images/sun-bg.png);
}


/* a.text-primary {
    color: #4aaaa5; !important;
    text-decoration: none;
}

a.text-primary:visited {
    color: #4aaaa5;
    text-decoration: none;
}

a.text-primary:hover {
    color: white;
    background-color: #4aaaa5;
  }


 */










@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    
}